
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  background-color: black;
  color: rgb(255, 255, 255);
  overflow: hidden;
  margin: 3px;
}

.main{
  display: flex;
  height:100vh;
}

.sidebar{
  background-color: rgb(20, 19, 19);
  width: 340px;
  border-radius: 1rem;
}

.main-content{
  display: flex;
  background-color: rgb(20, 19, 19);;
  flex: 1;
  border-radius: 1rem;
  overflow: auto;
}

.music-player{
  background-color: rgb(0, 0, 0);;
  position: fixed;
  bottom: 0;
  height: 72px;
  width: 100%;
  box-shadow: 2px 2px 10px gray;
}

.navbar {
  width: 320px;
  height:150px ;
  border-radius: 15px;
  margin-left: 10px;
  background-color: black;
  margin-top: 10px;
  
}

.navbar a {
  text-decoration: none;
  font-weight:600;
  font-size: 25px;
  padding-left: 10px;
}

.navbar i {
  margin-top: 30px;
  margin-left: 20px;  
}
 
.library{
  width: 320px;
  height:720px ;
  border-radius: 15px;
  margin-left: 10px;
  background-color: black;
  margin-top: 10px;
}

.second{
  width: 300px;
  height:250px ;
  border-radius: 15px;
  margin-left: 10px;
  background-color: rgb(27, 27, 27);
  margin-top: 40px;

}

.third{
  width: 300px;
  height:350px ;
  border-radius: 15px;
  margin-left: 10px;
  background-color: rgb(27, 27, 27);
  margin-top: 10px;
}

.content{
  width: 1650px;
  height:880px ;
  border-radius: 15px;
  margin-left: 10px;
  background-color: black;
  margin-top: 10px;
  overflow: auto;
}

.header{
  height: 100px;  
  display: flex;
  
}

.header .EP{
  margin-left:900px;

}

.header .circle{
  margin-top: 10px;
  margin-left: 40px;
  background-color: rgb(40, 147, 240);
  height: 60px;
  width: 60px;
  border-radius: 50%;
 
}

.content .card{
  display: grid;
  width: 340px;
  height:500px ;
  border-radius: 15px;
  margin-left: 20px;
  background-color: rgb(27, 27, 27);
  margin-top: 10px;
}

.content .card img{
  border-radius:15px ;  
  margin: 20px;
}

p{
  background-color: rgb(27, 27, 27);
  padding-left: 30px;
  padding-right: 20px; 
  font-size:18px;
  padding: 20px;
  font-weight: 400;
}

h1{
  margin-left: 20px;
}

h2{
  padding-top: 10px;
  color: rgb(255, 255, 255);
  background-color: rgb(27, 27, 27);
  padding-left: 20px;
  font-size:27px ;
}

button{
  background-color:white;
  color: black;
  padding: 5px;
  margin-left: 70px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  border-radius:10px ;
  font-weight: 700;
  font-size: medium;
  margin-top: 20px;
}

.icon a{
  display: inline-block;
  text-decoration: none;
  font-weight:600;
  font-size: 25px;
  
}

.icon img{
  padding: 5px;
  margin-top: 10px;
}

.content .category1 .card{
  display: inline-block;
  margin: 20px;
}

.content .category2 .card{
  display: inline-block;
  margin: 20px;
}

.play{
  width: 30%;
  margin-left: 700px; 
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.music-player{
  display: flex;
}

@media(max-width:350px){
  .main-content{
    flex-wrap: wrap;
   }
}